$font-family: 'Montserrat', sans-serif;
$font-size: 0.9em;

$main-bg: transparent;

$red: #7d1538;
$red-hover: #bc2c1a;

$blue: #d3f3ee;
$blue-text: #7fb7be;

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: $font-family;
}

a {
    color: $red;

    &:hover {
        color: $red-hover;
    }
}

/* MOBILE */
#container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        // background: pink;

        #col1, #col2 {
            width: 80vw;
            height: 30vh;
            // background: green;

        }

        #col2 {
            margin-top: 50px;
            // background: red;

            #analysis-img {
                width: 100%;
            }
        }
    }

@media only screen and (min-width: 768px) {
#container {
        height: 100vh;

        #col1 {
            width: 65vw;
        }

        #col2 {
            width: 65vw;
            height: 30vh;
            display: flex;
            justify-content: center;
            background: blue;

            #analysis-img {
                width: 70%;
            }
        }
    }
}

@media only screen and (min-width: 1025px) {
    #container {
        flex-direction: row;

        #col1 {
            width: 50vw;
            height: 60vh;
            padding: 10px 50px 10px 60px;
            margin: 0 0 0 50px;
        }

        #col2 {
            width: 50vw;
            height: 60vh;
            padding: 10px 10px 10px 0;
            background: pink;
            margin: 0 50px 0 0;

            #analysis-img {
                width: 100%;
            }
        }
    }
}
