$font-family: 'Montserrat', sans-serif;
$font-size: 0.9em;

$main-bg: transparent;

$red: #7d1538;
$red-hover: #bc2c1a;

$blue: #d3f3ee;
$blue-text: #7fb7be;

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: $font-family;
}

a {
    color: $red;

    &:hover {
        color: $red-hover;
    }
}

/* MOBILE */
#container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;

        #col1, #col2 {
            width: 80vw;
            // height: 40vh;
            // background: green;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #col2 {
            // height: 35vh;
            // background: red;

            #analysis-img {
                width: 100%;
            }
        }
    }

@media only screen and (min-width: 768px) {
#container {

        #col1 {
            width: 65vw;
            height: 50vh;
        }

        #col2 {
            width: 65vw;
            height: 20vh;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            #analysis-img {
                width: 60%;
            }
        }
    }
}

@media only screen and (min-width: 1025px) {
    #container {
        flex-direction: row;

        #col1 {
            width: 50vw;
            height: 100vh;
            margin: 0 0 0 50px;
            padding: 50px;
            // background: red;
        }

        #col2 {
            width: 50vw;
            height: 100vh;
            // background: pink;
            margin: 0 50px 0 0;
            justify-content: center;

            #analysis-img {
                height: auto;
                width: 100%;
            }
        }
    }
}
