@import 'base.scss';

header {
    i {
        padding-right: 2px;
    }

    #head-left {
        font-family: $font-family;
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        color: $red;
    }

    #head-right {
        font-family: $font-family;
        position: absolute;
        top: 0;
        right: 20px;
        padding: 20px;
        width: 30%;
        text-align: right;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

/* TABLET STYLES */

@media screen and (min-width: 768px) {
    header {
        #head-right {
            width: 40%;
        }
    }
}